%% -*- erlang -*-
{nodes,
    ['stolas_dev@Solomon', 'stolas_dev@Solomon-vm-0',
        'stolas_dev@Solomon-vm-1']}.
{master, 'stolas_dev@Solomon'}.
{ssh,
    [
        {'stolas_dev@Solomon', {"solomon", "Solomon", 22}},
        {'stolas_dev@Solomon-vm-0', {"solomon", "Solomon-vm-0", 22}},
        {'stolas_dev@Solomon-vm-1', {"solomon", "Solomon-vm-1", 22}}
    ]}.
