%% -*- erlang -*-
{nodes,
 ['stolas_dev@Solomon', 'stolas_dev@Solomon-vm-0',
  'stolas_dev@Solomon-vm-1']}.
{master_node, 'stolas_dev@Solomon'}.
{ssh_files_transport, true}.
{ssh_nodes_args,
 [
  {'stolas_dev@Solomon', {"solomon", "192.168.1.50", 22}},
  {'stolas_dev@Solomon-vm-0', {"solomon", "192.168.1.52", 22}},
  {'stolas_dev@Solomon-vm-1', {"solomon", "192.168.1.53", 22}}
 ]}.
{readable_file_log, "./stolas_log"}.
