%% -*- erlang -*-
[
 {kernel, [
           {inet_dist_listen_min, 12345},
           {inet_dist_listen_max, 12350}
          ]},
 {sasl, [
         {sasl_error_logger, false},
         {error_logger_mf_dir, "log/sasl"},
         {error_logger_mf_maxbytes, 10485760},
         {error_logger_mf_maxfiles, 24}
        ]}
].
